{% extends 'base.html.twig' %}

{% block title %}Liste des Paniers{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/accueil.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Liste des Paniers</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Utilisateur</th>
                <th scope="col">Date d'achat</th>
                <th scope="col">Contenu</th>
            </tr>
            </thead>
            <tbody>
            {% for panier in paniers %}
                {% if not panier.etat %}
                    <tr>
                        <td>{{ panier.id }}</td>
                        <td>
                            <a href="{{ path('app_user_show', {'id': panier.user.id}) }}">
                                {{ panier.user.nom ~ " " ~ panier.user.prenom }}
                            </a>
                        </td>
                        <td>{{ panier.dateAchat ? panier.dateAchat|date('d-m-Y') : 'Pas encore commandé.' }}</td>
                        <td>
                            {% for contenu in panier.contenuPaniers %}
                                <a href="{{ path('app_produit_show', {'id': contenu.produit.id}) }}">
                                    {{ contenu.produit.nom }}
                                </a>
                                x {{ contenu.quantite }} -
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="4">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_admin') }}" class="btn btn-dark">Retour au Dashboard</a>
    </div>
{% endblock %}
