{% extends 'base.html.twig' %}

{% block title %}Liste des Paniers{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/accueil.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4 text-center">{{ 'panier.index.title'|trans }}</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">{{ 'panier.index.table.identifiant'|trans }}</th>
                <th scope="col">{{ 'panier.index.table.user'|trans }}</th>
                <th scope="col">{{ 'panier.index.table.contenu'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for panier in paniers %}
                {% if not panier.etat %}
                    {% set isOk = false %}
                    <tr>
                        <td>{{ panier.id }}</td>
                        <td>
                            <a href="{{ path('app_user_show', {'id': panier.user.id}) }}">
                                {{ panier.user.nom ~ " " ~ panier.user.prenom }}
                            </a>
                        </td>
                        <td>
                            {% for contenu in panier.contenuPaniers %}
                                <a href="{{ path('app_produit_show', {'id': contenu.produit.id}) }}">
                                    {{ contenu.produit.nom }}
                                </a>
                                x {{ contenu.quantite }} -
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="4">{{ 'panier.index.table.no_table'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_admin') }}" class="btn btn-dark">{{ 'panier.index.back_dashboard'|trans }}</a>
    </div>
{% endblock %}
