{% extends 'base.html.twig' %}

{% block title %}{{ 'panier.order.page_title'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">{{ 'panier.order.title'|trans }}</h1>

        {% if panier is not empty %}

            <p class="text-center mb-3">{{ 'panier.order.date'|trans }} {{ panier.dateAchat|date('d-m-Y') }}</p>

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title mb-3">{{ 'panier.order.products'|trans }}:</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'panier.order.table.image'|trans }}</th>
                            <th scope="col">{{ 'panier.order.table.nom'|trans }}</th>
                            <th scope="col">{{ 'panier.order.table.prix'|trans }}</th>
                            <th scope="col">{{ 'panier.order.table.quantite'|trans }}</th>
                            <th scope="col">{{ 'panier.order.table.total'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set total = 0 %}
                        {% for contenu in panier.contenuPaniers %}
                            <tr>
                                <td>
                                    {% if contenu.produit.Photo is not null %}
                                        <img src="{{ asset('uploads/images/' ~ contenu.produit.Photo) }}" style="width:100px;" alt="">
                                    {% endif %}
                                </td>
                                <td>{{ contenu.produit.nom }}</td>
                                <td>{{ contenu.produit.prix }}€</td>
                                <td>{{ contenu.quantite }}</td>
                                <td>{{ contenu.produit.prix * contenu.quantite }}€</td>
                            </tr>
                            {% set total = total + contenu.produit.prix * contenu.quantite %}
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-between mt-3">
                        <h5>{{ 'panier.order.total'|trans }}:</h5>
                        <h5>{{ total }}€</h5>
                    </div>
                </div>
            </div>

            {% if app.user == panier.user %}
                <div class="d-flex justify-content-center mt-3">
                    <a href="{{ path('app_user_show', {'id': panier.user.id}) }}" class="btn btn-dark">{{ 'panier.order.see_commands'|trans }}</a>
                </div>
            {% endif %}
        {% else %}
            <div class="d-flex flex-column">
                <div class="alert alert-info" role="alert">
                    {{ 'panier.order.empty_command'|trans }}
                </div>
                <a href="{{ path('app_accueil') }}" class="btn btn-dark">Commencer vos achats</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
