{% extends 'base.html.twig' %}

{% block title %}{{ 'panier.show.page_title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/panier.css') }}">
    <link rel="stylesheet" href="{{ asset('/accueil.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">{{ 'panier.show.title'|trans }}</h1>

        {% if panier is not empty %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{{ 'panier.show.table.image'|trans }}</th>
                    <th scope="col">{{ 'panier.show.table.nom'|trans }}</th>
                    <th scope="col">{{ 'panier.show.table.prix'|trans }}</th>
                    <th scope="col">{{ 'panier.show.table.description'|trans }}</th>
                    <th scope="col">{{ 'panier.show.table.quantite'|trans }}</th>
                    <th scope="col">{{ 'panier.show.table.date'|trans }}</th>
                    <th scope="col">{{ 'panier.show.table.total'|trans }}</th>
                    <th scope="col">{{ 'panier.show.table.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% set total = 0 %}
                {% for contenu in panier.contenuPaniers %}
                    <tr>
                        <td>
                            {% if contenu.produit.Photo is not null %}
                                <img src="{{ asset('uploads/images/' ~ contenu.produit.Photo) }}" style="width:100px;" alt="">
                            {% endif %}
                        </td>
                        <td>{{ contenu.produit.nom }}</td>
                        <td>{{ contenu.produit.prix }}€</td>
                        <td>{{ contenu.produit.description }}</td>
                        <td>{{ contenu.quantite }}</td>
                        <td>{{ contenu.date|date('d-m-Y') }}</td>
                        <td>{{ contenu.produit.prix * contenu.quantite }}€</td>
                        <td>
                            <a href="{{ path('app_panier_remove', {'id': contenu.produit.id}) }}" class="btn btn-dark">🗑️</a>
                            <a href="{{ path('app_panier_removeLine', {'id': contenu.produit.id})  }}" class="btn btn-dark">❌</a>
                            <a href="{{ path('app_produit_show', {'id': contenu.produit.id}) }}" class="btn btn-dark">👀</a>
                        </td>
                    </tr>
                    {% set total = total + contenu.produit.prix * contenu.quantite %}
                {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-evenly">
                <h5>{{ 'panier.show.total'|trans }} </h5>
                <h5>{{ total }}€</h5>
            </div>
            {% if app.user == panier.user %}
                <div class="d-flex justify-content-center">
                    <a href="{{ path('app_panier_order', {'id': panier.id}) }}" class="btn btn-dark">{{ 'panier.show.btn_buy'|trans }}</a>
                </div>
            {% endif %}
        {% else %}
            <div class="d-flex flex-column">
                <div class="alert alert-info" role="alert">
                    {{ 'panier.show.empty_cart'|trans }}
                </div>
                <a href="{{ path('app_accueil') }}" class="btn btn-dark">{{ 'panier.show.buy'|trans }}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
