{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <form class="form-signin" method="post">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% if app.user %}
                <div class="alert alert-info" role="alert">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div class="mx-auto mt-5" style="max-width: 400px;">
                <h1 class="h3 mb-3 font-weight-normal text-center">Connexion</h1>

                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" autocomplete="email" required autofocus>

                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <p>Pas encore inscrit ? <a href="{{ path('app_register') }}">S'inscrire</a></p>

                <button class="btn btn-lg btn-dark btn-block mt-3" type="submit">Sign in</button>
            </div>
        </form>
    </div>
{% endblock %}
