{% extends 'base.html.twig' %}

{% block title %}{{ 'register.page_title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/accueil.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="mx-auto mt-5" style="max-width: 400px;">
            <h1 class="h3 mb-3 font-weight-normal text-center">{{ 'register.title'|trans }}</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            <div class="form-group">
                {{ form_row(registrationForm.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
            </div>

            <div class="form-group">
                {{ form_row(registrationForm.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
            </div>

            <div class="form-group">
                {{ form_row(registrationForm.prenom, { 'attr': {'class': 'form-control', 'placeholder': 'Prenom'} }) }}
            </div>

            <div class="form-group">
                {{ form_row(registrationForm.plainPassword, { 'attr': {'class': 'form-control', 'placeholder': 'Password'} }) }}
            </div>

            <div class="form-check mt-3">
                {{ form_row(registrationForm.agreeTerms, { 'label_attr': {'class': 'form-check-label'}, 'attr': {'class': 'form-check-input'} }) }}
            </div>


            <p class="mt-2">{{ 'register.already_register'|trans }} <a href="{{ path('app_login') }}">{{ 'register.btn.connect'|trans }}</a></p>

            <button type="submit" class="btn btn-lg btn-dark btn-block mt-1">{{ 'register.btn.register'|trans }}</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
