{% extends 'base.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/accueil.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
            <div class="mx-auto mt-5" style="max-width: 400px;">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h3 mb-3 font-weight-normal text-center">{{ 'produit.edit.title'|trans }}</h1>

                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <button type="button" class="btn btn-dark" onclick="window.location.href='{{ path('app_produit_index') }}'">{{ 'produit.edit.back'|trans }}</button>
                        <div>
                            <a href="{{ path('app_produit_delete', {'id': produit.id}) }}" class="btn btn-danger btn-sm">{{ 'produit.edit.delete'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
