{% extends 'base.html.twig' %}

{% block title %}{{ 'produit.index.page_title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/accueil.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ 'produit.index.title'|trans }}</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">{{ 'produit.index.table.identifiant'|trans }}</th>
                <th scope="col">{{ 'produit.index.table.nom'|trans }}</th>
                <th scope="col">{{ 'produit.index.table.description'|trans }}</th>
                <th scope="col">{{ 'produit.index.table.prix'|trans }}</th>
                <th scope="col">{{ 'produit.index.table.stock'|trans }}</th>
                <th scope="col">{{ 'produit.index.table.image'|trans }}</th>
                <th scope="col">{{ 'produit.index.table.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.id }}</td>
                    <td>{{ produit.Nom }}</td>
                    <td>{{ produit.Description }}</td>
                    <td>{{ produit.Prix }}</td>
                    <td>{{ produit.Stock }}</td>
                    <td>
                        {% if produit.Photo is not null %}
                            <img src="{{ asset('uploads/images/' ~ produit.Photo) }}" style="width:100px;" alt="">
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn btn-info btn-sm">{{ 'produit.index.table.btn.see'|trans }}</a>
                            <a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="btn btn-warning btn-sm">{{ 'produit.index.table.btn.edit'|trans }}</a>
                            <a href="{{ path('app_produit_delete', {'id': produit.id}) }}" class="btn btn-danger btn-sm">{{ 'produit.index.table.btn.delete'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">{{ 'produit.index.table.no_product'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <button type="button" class="btn btn-dark" onclick="window.location.href='{{ path('app_produit_new') }}'">{{ 'produit.index.btn.create'|trans }}</button>

        <a href="{{ path('app_admin') }}" class="btn btn-dark">{{ 'produit.index.btn.back_dashboard'|trans }}</a>

    </div>
{% endblock %}
