{% extends 'base.html.twig' %}

{% block title %}Create Produit{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/accueil.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="mx-auto mt-5" style="max-width: 400px;">
            <h1 class="h3 mb-3 font-weight-normal text-center">Create new Produit</h1>

            {{ form_start(form) }}
            <div class="form-group">
                {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
            </div>

            {{ form_end(form) }}

            <button type="button" class="btn btn-dark btn-block mt-3" onclick="window.location.href='{{ path('app_produit_index') }}'">Back to List</button>
        </div>
    </div>
{% endblock %}