{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Administration</h1>

        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0">{{ 'admin.user.title'|trans }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">{{ 'admin.user.see'|trans }}</p>
                <a href="{{ path('app_user_index') }}" class="btn btn-dark">{{ 'admin.user.btn'|trans }}</a>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0">{{ 'admin.panier.title'|trans }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">{{ 'admin.panier.see'|trans }}</p>
                <a href="{{ path('app_panier_index') }}" class="btn btn-dark">{{ 'admin.panier.btn'|trans }}</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">{{ 'admin.produit.title'|trans }}</h5>
            </div>
            <div class="card-body">
                <p class="card-text">{{ 'admin.produit.see'|trans }}</p>
                <a href="{{ path('app_produit_index') }}" class="btn btn-dark">{{ 'admin.produit.btn'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
