{% extends 'base.html.twig' %}

{% block title %}PearPhone{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/accueil.css') }}">
{% endblock %}

{% block body %}
<br>
<div class="text-center">
    <h1>PearPhone</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row">
                {% for produit in produits %}
                    {% if produit.Photo is not null %}
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 shadow">
                                <div class="card-body text-center d-flex flex-column">
                                    <h5 class="card-title mb-0">{{ produit.Nom }}</h5>
                                    <img src="{{ asset('uploads/images/' ~ produit.Photo) }}" class="card-img-top mt-3 flex-grow-1" alt="...">
                                    <p class="card-text text-muted mt-3">{{ produit.Prix }} €</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
