{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/accueil.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="mx-auto mt-5" style="max-width: 400px;">
            <h1 class="h3 mb-3 font-weight-normal text-center">User</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <tr>
                        <th>Roles</th>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Nom</th>
                    <td>{{ user.Nom }}</td>
                </tr>
                <tr>
                    <th>Prenom</th>
                    <td>{{ user.Prenom }}</td>
                </tr>
                </tbody>
            </table>

            <div class="row">
                {% if is_granted('ROLE_ADMIN') and app.user == user%}
                <div class="col">
                    <a href="{{ path('app_admin') }}" class="btn btn-dark btn-block mt-3">Administration</a>
                </div>
                {% endif %}

                <div class="col">
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-dark btn-block mt-3">Edit</a>
                </div>

                {% if app.user == user %}
                    <div class="col">
                        <a href="{{ path('app_logout') }}" class="btn btn-dark btn-danger mt-3">Deconnexion</a>
                    </div>
                {% endif %}
            </div>
        </div>


        {% if app.user == user %}
            <hr>
            <h4 class="text-center">Listes des commandes passées </h4>
        {% endif %}

    </div>
{% endblock %}
