{% extends 'base.html.twig' %}

{% block title %}{{ 'user.show.page_title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/accueil.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="mx-auto mt-5" style="max-width: 400px;">
            <h1 class="h3 mb-3 font-weight-normal text-center">{{ 'user.show.title'|trans }}</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>{{ 'user.show.table.email'|trans }}</th>
                    <td>{{ user.email }}</td>
                </tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <tr>
                        <th>{{ 'user.show.table.roles'|trans }}</th>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{{ 'user.show.table.nom'|trans }}</th>
                    <td>{{ user.Nom }}</td>
                </tr>
                <tr>
                    <th>{{ 'user.show.table.prenom'|trans }}</th>
                    <td>{{ user.Prenom }}</td>
                </tr>
                </tbody>
            </table>

            <div class="row">
                {% if is_granted('ROLE_ADMIN') and app.user == user %}
                    <div class="col">
                        <a href="{{ path('app_admin') }}" class="btn btn-dark btn-block mt-3">{{ 'user.show.btn.administration'|trans }}</a>
                    </div>
                {% endif %}

                <div class="col">
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-dark btn-block mt-3">{{ 'user.show.btn.edit'|trans }}</a>
                </div>

                {% if app.user == user %}
                    <div class="col">
                        <a href="{{ path('app_logout') }}" class="btn btn-dark btn-danger mt-3">{{ 'user.show.btn.deconnexion'|trans }}</a>
                    </div>
                {% endif %}
            </div>
        </div>


        {% if app.user == user %}
            <hr>
            <h4 class="text-center">{{ 'user.show.order.title'|trans }}</h4>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{{ 'user.show.order.table.id'|trans }}</th>
                    <th scope="col">{{ 'user.show.order.table.total'|trans }}</th>
                    <th scope="col">{{ 'user.show.order.table.date'|trans }}</th>
                    <th scope="col">{{ 'user.show.order.table.action'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% set total = 0 %}
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.id }}</td>
                        <td>
                            {% set total = 0 %}
                            {% for contenu in commande.contenuPaniers %}
                                {% set total = total + contenu.produit.prix * contenu.quantite %}
                            {% endfor %}
                            {{ total }}€
                        </td>
                        <td>{{ commande.dateAchat|date('d-m-Y') }}</td>
                        <td>
                            <a href="{{ path('app_panier_order', {'id': commande.id}) }}" class="btn btn-dark">👀</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            {{ 'user.show.order.no_order'|trans }}
                            <a href="{{ path('app_accueil') }}">{{ 'user.show.order.begin_buy' }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>
{% endblock %}
